<% layout('layout') %>

<div class="container">

	<div class="row">
		<div class="col-md-8 mx-auto mt-3 ">
			<% if (message.length > 0) { -%>
			<div class="alert alert-warning alert-dismissable" role="alert">
			   <button type="button" class="close" data-dismiss='alert' aria-label="Close">
			   		<span aria-hidden="true">&times;</span>
			   </button>
			   <%= message %>
			</div>
			<% } else { -%>

			<% } -%>
			<a href="/admin/add-product" class="float-left btn btn-info btn-sm mb-2">Add Product</a>
			<table id="#myTable" class="display table table-bordered table-inverse table-hover">
				<thead>
					<tr>
						<th>No</th>
						<th>Name</th>
						<th>Category</th>
						<th>Price</th>
						<th>Image</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>

					<% for (var i = 0; i < products.length; i++) { -%>
						<tr>
							<td><%= i + 1 %></td>
							<td><%= products[i].name %></td>
							<td><%= products[i].category.name %></td>
							<td><%= products[i].price %></td>
							<td><img src="<%= products[i].image %>" width="100px"></td>
							<td>
								<form style=" display: inline;" method="POST" action="/admin/product-delete/<%= products[i]._id %>?_method=DELETE">
								  <input type="hidden" name="_method" value="DELETE">
								  <button onclick="return confirm('Are You Sure')" class="btn btn-danger" type="submit"><i class="fas fa-trash-restore-alt"></i></button>
							  </form>
							  <a class="btn btn-info" href="/admin/edit-product/<%= products[i]._id %>"><i class="fas fa-edit"></i></a>
							</td>
						</tr>
					<% } -%>
				</tbody>
			</table>
		</div>
	</div>
</div>




